[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
drf-yasg = "*"
django-filter = "*"
django-debug-toolbar = "*"
whitenoise = "*"
django-odoo-auth = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"
django-admin-rangefilter = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest-django = "*"
flake8 = "*"
